<div class="grid h-full">
    <div class="col-3 flex flex-wrap align-items-center justify-content-center">
      <!-- Logo principal de correspondencia -->
      <img src="assets/images/correspondencia-removebg-preview.png" alt="Correspondencia">
    </div>
    
    <div class="col-7 flex flex-wrap align-items-center justify-content-center text-center">
      <!-- Título y descripción -->
      <h1 class="titulo">Gestión de Correspondencia</h1>
      <p class="descripcion">
        Aplicativo que permite llevar todo sistematizado de manera eficiente y confiable. ¡Gestiona tus envíos con facilidad!
      </p>
    </div>
    
    <div class="col-2 flex flex-wrap align-items-center justify-content-center">
      <!-- Icono de usuario -->
      <img src="assets/images/icono_Correspondencia__1_-removebg-preview.png" alt="Icono Correspondencia"> 
    </div>
  </div>
  