<p-card header="Crear Transporte" [style]="{ width: '100%' }">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
  
      <!-- Placa -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-car"></i></span>
            <input class="w-12" type="text" pInputText formControlName="placa" placeholder="Placa" title="Placa">         
          </div>
        </div>
      </div>
  
      <!-- Capacidad -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-weight"></i></span>
            <input class="w-12" type="number" pInputText formControlName="capacidadKg" placeholder="Capacidad (kg)" title="Capacidad (kg)">          
          </div>
        </div>
      </div>
  
      <!-- Tipo de Vehículo -->
      <div class="mb-3">
        <label for="tipoVehiculo">Tipo de Vehículo</label>
        <select formControlName="tipoVehiculoId" class="p-inputtext w-full" id="tipoVehiculo" title="Tipo de Vehículo">
          <option value="">Selecciona un tipo de vehículo</option>
          <option *ngFor="let tipo of tiposVehiculo" [value]="tipo.id">{{ tipo.descripcion }}</option>
        </select>
        <div *ngIf="tipoVehiculoId?.invalid && (tipoVehiculoId?.touched || tipoVehiculoId?.dirty)" class="error-message">
          Debes seleccionar un tipo de vehículo.
        </div>
      </div>
  
      <!-- Botones -->
      <div class="flex justify-content-center flex-wrap">
        <button 
          pButton 
          pRipple
          label="Guardar"
          icon="pi pi-save"
          severity="info"
          class="mr-4"
          type="submit"
          [disabled]="form.invalid" 
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Cancelar"
          icon="pi pi-times-circle"
          severity="warning"
          class="mr-4"
          type="button"
          (click)="cancel()"
        ></button>
      </div>
    </form>
  </p-card>
  