<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="titulo ml-4">
                Registro de empleados
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Empleado" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/empleados/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="empleados" class="text-center">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Puesto</th> <!-- Agrega la columna para mostrar el puesto -->
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.correo }}</td>
                    <td>{{ empleado.telefono }}</td>
      <td>{{ empleado.tipoEmpleado?.puesto }}</td> <!-- Accede al puesto de tipoEmpleado -->
                    <td class="flex justify-content-center">
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/empleados/edit', empleado.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="eliminar(empleado.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
