<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4 titulo">Registro de Rutas</h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Ruta" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/rutas/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="rutas" class="text-center">
            <ng-template pTemplate="header">
                <tr>
                    <th>Sucursal Origen</th>
                    <th>Sucursal Destino</th>
                    <th>Distancia (Km)</th>
                    <th>Tiempo Estimado (Horas)</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ruta>
                <tr>
                    <td>{{ getSucursalNombre(ruta.sucursalOrigenId) }}</td> <!-- Mostrar nombre de la sucursal de origen -->
                    <td>{{ getSucursalNombre(ruta.sucursalDestinoId) }}</td> <!-- Mostrar nombre de la sucursal de destino -->
                    <td>{{ ruta.distanciaKm }}</td>
                    <td>{{ ruta.tiempoEstimadoHoras }}</td>
                    <td class="flex justify-content-center">
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/rutas/edit', ruta.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="eliminar(ruta.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
