<p-card header="Actualizar Pagos" [style]="{ width: '100%' }">
    <div>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
            <div class="grid">
                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="correspondenciaId" placeholder="ID Correspondencia" title="ID Correspondencia">         
                    </div>
                    <label>ID Correspondencia Registrado: {{ correspondenciaId?.value }}</label>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-money-bill"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="monto" placeholder="Monto" title="Monto">          
                    </div>
                    <label>Monto Registrado: {{ monto?.value }}</label>
                </div>
            </div>

            <div class="grid">
                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-credit-card"></i></span>
                        <p-dropdown 
                            [options]="metodosPago" 
                            formControlName="metodoPago" 
                            placeholder="Seleccionar Método de Pago" 
                            appendTo="body"
                            styleClass="w-12"
                            [showClear]="true"
                            [autoZIndex]="true"
                            [baseZIndex]="1000">
                        </p-dropdown>
                    </div>
                    <label>Método de Pago Seleccionado: {{ metodoPago?.value }}</label>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <input class="w-12" type="date" pInputText formControlName="fechaPago" title="Fecha de Pago">         
                    </div>
                    <label>Fecha de Pago Registrada: {{ fechaPago?.value | date:'yyyy-MM-dd' }}</label>
                </div>
            </div>

            <div class="flex justify-content-center flex-wrap">
                <button 
                  pButton 
                  label="Guardar" 
                  icon="pi pi-save" 
                  severity="info" 
                  class="mr-2 custom-button" 
                  type="submit" 
                  [disabled]="form.invalid">
                </button>
              
                <button 
                  pButton 
                  label="Cancelar" 
                  icon="pi pi-times-circle" 
                  severity="warning" 
                  class="mr-2 custom-button" 
                  type="button" 
                  (click)="cancel()">
                </button>
            </div>
        </form> 
    </div>
</p-card>
