<p-card header="Crear Empleados" [style]="{ width: '100%' }">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
      
      <!-- Nombre -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input class="w-12" type="text" pInputText formControlName="nombre" placeholder="Nombre" title="Nombre">         
          </div>
        </div>
      </div>
  
      <!-- Correo -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input class="w-12" type="email" pInputText formControlName="correo" placeholder="Correo" title="Correo">         
          </div>
        </div>
      </div>
  
      <!-- Teléfono -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input class="w-12" type="text" pInputText formControlName="telefono" placeholder="Teléfono" title="Teléfono">          
          </div>
        </div>
      </div>
  
      <!-- Tipo de Empleado -->
      <div class="mb-3">
        <label for="tipoEmpleado">Tipo de Empleado</label>
        <select formControlName="tipoEmpleadoId" class="p-inputtext w-full" id="tipoEmpleado" title="Tipo de Empleado">
          <option value="">Selecciona un tipo de empleado</option>
          <option *ngFor="let tipo of tiposEmpleado" [value]="tipo.id">{{ tipo.puesto }}</option>
        </select>
        <div *ngIf="tipoEmpleadoId?.invalid && (tipoEmpleadoId?.touched || tipoEmpleadoId?.dirty)" class="error-message">
          Debes seleccionar un tipo de empleado.
        </div>
      </div>
  
      <!-- Botones -->
      <div class="flex justify-content-center flex-wrap">
        <button 
          pButton 
          pRipple
          label="Guardar"
          icon="pi pi-save"
          severity="info"
          class="mr-4"
          type="submit"
          [disabled]="form.invalid" 
        ></button>
  
        <button 
          pButton 
          pRipple
          label="Cancelar"
          icon="pi pi-times-circle"
          severity="warning"
          class="mr-4"
          type="button"
          (click)="cancel()"
        ></button>
      </div>
    </form> 
  </p-card>
  