/* Estilo general del componente */
:host {
    display: block;
    padding: 1rem;
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo del título */
.titulo {
    font-size: 3rem; /* Tamaño aumentado del título */
    font-weight: bold; /* Negrita */
    color: #212121; /* Color del texto */
    margin-bottom: 0.10rem; /* Espacio entre título y descripción */
}

/* Estilo de la cabecera de la tarjeta */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007ad9; /* Color de cabecera */
    color: #fff; /* Color de texto */
    padding: 1rem;
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

/* Estilo de los botones */
.card-button {
    background-color: #28a745; /* Color del botón */
    color: #fff; /* Color de texto del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados del botón */
    padding: 0.5rem 1rem; /* Relleno */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave */
}

.card-button:hover {
    background-color: #218838; /* Color del botón al pasar por encima */
}

/* Estilo de la tabla */
.p-table {
    margin-top: 1rem; /* Margen superior */
}

.p-table th {
    background-color: #007ad9; /* Color de cabecera de la tabla */
    color: #fff; /* Color de texto de la cabecera de la tabla */
}

.p-table td {
    padding: 0.75rem; /* Relleno de las celdas */
}

.p-table td button {
    margin-right: 0.5rem; /* Margen a la derecha de los botones */
}
