<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="titulo ml-4">
                Registro de Transportes
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Transporte" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/transporte/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="transportes" class="text-center">
            <ng-template pTemplate="header">
                <tr>
                    <th>Placa</th>
                    <th>Capacidad (Kg)</th>
                    <th>Tipo de Vehículo</th> <!-- Agrega la columna para mostrar el tipo de vehículo -->
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transporte>
                <tr>
                    <td>{{ transporte.placa }}</td>
                    <td>{{ transporte.capacidadKg }}</td>
                    <td>{{ transporte.tipoVehiculo?.descripcion }}</td> <!-- Accede a la descripción de tipoVehiculo -->
                    <td class="flex justify-content-center">
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/transporte/edit', transporte.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="eliminar(transporte.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
