<p-card header="Actualizar Eventos de Correspondencia" [style]="{ width: '100%' }"> 
    <ng-template pTemplate="header">
        <!-- Aquí puedes agregar contenido adicional en el encabezado si es necesario -->
    </ng-template>
    <div>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
            <div class="grid">
                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="correspondenciaId" placeholder="ID de Correspondencia" title="ID de Correspondencia">         
                        <label *ngIf="correspondenciaId?.hasError('min') && correspondenciaId?.touched" class="error">No se permiten números negativos.</label>

                    
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-warehouse"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="sucursalId" placeholder="ID de Sucursal" title="ID de Sucursal">          
                        <label *ngIf="sucursalId?.hasError('min') && sucursalId?.touched" class="error">No se permiten números negativos.</label>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="empleadoId" placeholder="ID de Empleado" title="ID de Empleado">         
                        <label *ngIf="empleadoId?.hasError('min') && empleadoId?.touched" class="error">No se permiten números negativos.</label>
                    </div>
                </div>

                <div class="col-12 sm:col-6">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-check-square"></i></span>
                        <input class="w-12" type="number" pInputText formControlName="estadoCorrespondenciaId" placeholder="ID de Estado" title="ID de Estado">          
                        <label *ngIf="estadoCorrespondenciaId?.hasError('min') && estadoCorrespondenciaId?.touched" class="error">No se permiten números negativos.</label>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <input class="w-12" type="date" pInputText formControlName="fechaEvento" title="Fecha del Evento">    
                        <label>Fecha de Pago Registrada: {{ fechaEvento?.value | date:'yyyy-MM-dd' }}</label>
     
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col-12">
                    <div class="p-inputgroup mb-1">
                        <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
                        <input class="w-12" type="text" pInputText formControlName="descripcion" placeholder="Descripción" title="Descripción">         
                    </div>
                </div>
            </div>

            <div class="flex justify-content-center flex-wrap">
                <button 
                    pButton 
                    pRipple
                    label="Guardar"
                    icon="pi pi-save"
                    severity="info"
                    class="mr-4"
                    type="submit"
                    [disabled]="form.invalid"> 
                </button>

                <button 
                    pButton 
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times-circle"
                    severity="warning"
                    class="mr-4"
                    type="button"
                    (click)="cancel()">
                </button>
            </div>
        </form> 
    </div>
    <ng-template pTemplate="footer">
        <!-- Aquí puedes agregar contenido adicional en el pie de página si es necesario -->
    </ng-template>
</p-card>
