<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="title ml-4">
                Vehicle Type Registration
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Create Vehicle Type" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/vehicle-type/new']">  <!-- Link to create a new vehicle type -->
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="types" class="text-center">  <!-- Table displaying the list of vehicle types -->
            <ng-template pTemplate="header">
                <tr>
                    <th>Description</th>  <!-- Column header for the description of vehicle types -->
                    <th class="flex justify-content-center flex-wrap">Actions</th>  <!-- Column header for action buttons -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>  <!-- Loop through each vehicle type -->
                <tr>
                    <td>{{ type.description }}</td>  <!-- Display vehicle type description -->
                    <td class="flex justify-content-center">
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/vehicle-type/edit', type.id]">  <!-- Link to edit the vehicle type -->
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(type.id)">  <!-- Button to delete the vehicle type -->
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
