<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="titulo ml-4">
                Registro de Pagos
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear Pago" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/pagos/nuevo']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="pagos">
            <ng-template pTemplate="header">
                <tr>
                    <th>Correspondencia ID</th>
                    <th>Monto</th>
                    <th>Fecha de Pago</th>
                    <th>Tipo de Pago</th> 
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pago>
                <tr>
                    <td>{{ pago.correspondenciaId }}</td>
                    <td>{{ pago.monto }}</td>
                    <td>{{ pago.fechaPago | date }}</td>
                    <td>{{ pago.tipopago?.nombre }}</td> <!-- Muestra el nombre del tipo de pago -->
                    <td class="flex justify-content-center"> 
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/pagos/edit', pago.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="eliminar(pago.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
