<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="title ml-4">
                Payment Records
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Create Payment" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/payments/new']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="payments">
            <ng-template pTemplate="header">
                <tr>
                    <th>Correspondence ID</th>
                    <th>Amount</th>
                    <th>Payment Date</th>
                    <th>Payment Type</th> 
                    <th class="flex justify-content-center flex-wrap">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
                <tr>
                    <td>{{ payment.correspondenceId }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.paymentDate | date }}</td>
                    <td>{{ payment.paymentType?.name }}</td> <!-- Displays the payment type name -->
                    <td class="flex justify-content-center"> 
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/payments/edit', payment.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(payment.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
