<p-card header="Crear Estado de Correspondencia" [style]="{ width: '100%' }">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
        <div class="grid">
            <div class="col-12">
                <div class="p-inputgroup mb-1">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input class="w-12" type="text" pInputText formControlName="estado" placeholder="Estado" title="Estado">         
                </div>
            </div>
            <div class="col-12">
                <div class="p-inputgroup mb-1" *ngIf="errorMessage">
                    <span class="p-inputgroup-addon"><i class="pi pi-exclamation-triangle"></i></span>
                    <div class="p-inputtext" style="color: red;">{{ errorMessage }}</div>
                </div>
            </div>
            <div class="col-12" *ngIf="form.get('estado')?.value && form.get('estado')?.value !== ''">
                <div class="p-inputgroup mb-1">
                    <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
                    <input class="w-12" type="text" pInputText formControlName="nuevoEstado" placeholder="Nuevo Estado" title="Nuevo Estado">         
                </div>
            </div>
        </div>

        <div class="flex justify-content-center flex-wrap">
            <button 
                pButton 
                pRipple
                label="Guardar"
                icon="pi pi-save"
                severity="info"
                class="mr-4"
                type="submit"
                [disabled]="form.invalid"
            ></button>

            <button 
                pButton 
                pRipple
                label="Cancelar"
                icon="pi pi-times-circle"
                severity="warning"
                class="mr-4"
                type="button"
                (click)="cancel()"
            ></button>
        </div>
    </form> 
</p-card>
