<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="title ml-4"> <!-- 'title' class for styling -->
                Branch Registration
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Create Branch" 
                  icon="pi pi-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/branches/new']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <p-table [value]="branches">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th class="flex justify-content-center flex-wrap">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-branch>
                <tr>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.address }}</td>
                    <td>{{ branch.city }}</td>
                    <td>{{ branch.phone }}</td>
                    <td class="flex justify-content-center"> <!-- Centered alignment -->
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/branches/edit', branch.id]">
                        </a>
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(branch.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
